__pycache__
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/tasks.json
a.cpp
a.exe
a.py
arbitrary-length-test.cpp
b.cpp
b.py
buf.cpp
docs/modint/montgomery-modint.md
input
input1
lance-game.cpp
Makefile
naive.cpp
naive.exe
out
out.cpp
out.exe
output
output1
remix-sum.cpp
segment-tree/lazy-seg-tree-with-index.hpp
test
test.cpp
test.exe

dirchlet.cpp
mat_prod.cpp
mat_prod_2.cpp
z.bat
gmon.out
test.jpg

lemon/*
modint/modint-utility.hpp
mfps/multivariate-formal-power-series.hpp
ahc.py
convolution.hpp
judge.py
nai.exe
test.py
